@import "reset.css";

body {
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #bdc3c7;
  color: white;
  box-sizing: border-box;
  position: relative;
}

.top {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.top-middle {
  height: 20%;
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.middle__clock {
  font-size: 150px;
}

.middle__greeting {
  font-size: 60px;
}

.middle__form,
.middle__greeting {
  display: none;
}

.middle__showing {
  display: block;
}

.middle-bottom {
  height: 20%;
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do__form {
  margin-bottom: 20px;
}

.to-do__form input {
  padding: 5px;
  font-size: 40px;
  border: none;
}

.to-do__list {
  font-size: 38px;
}

.to-do__list li {
  display: flex;
  align-items: center;
}

.to-do__list li span {
  margin-right: 15px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom div {
  position: absolute;
  bottom: 20px;
}

.bottom div:nth-child(2) {
  left: 45%;
}

.bottom div:last-child {
  right: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
